/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Navigation Menu Styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Section Styles */
section {
    margin-bottom: 30px;
}

/* Button Styles */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffc107;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff9800;
}

/* Footer Styles */
footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Image Styles */
#display-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    max-height: 300px; /* Set a maximum height for the images */
}
